<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info">
    <div class="flex-grow-1">
      <a aria-label="Home" class="logo" routerLink="/">
        <img src="/assets/img/bird.png" alt="image" id="bird">
        <span class="microNews-text">
          microNews
        </span>
      </a>
    </div>
    <div class="flex-grow-1">
      <div *ngIf="auth.user$ | async as user" ngbDropdown>
        <div  ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="goToUserProfile()" ngbDropdownItem>Profile</button>
          <button (click)="logout()" ngbDropdownItem>Logout</button>
          <button (click)="callApi()" ngbDropdownItem>Send Get Request</button>

        </div>
        <button  class="userDetails" id="dropdownBasic1" ngbDropdownToggle>
          <img class="account-icon" src="{{user.picture}}" alt="user image">
          {{user.name}}
        </button>
      </div>
      <div *ngIf="(auth.isAuthenticated$ | async) === false">
        <app-login></app-login>
      </div>
    </div>
  </nav>
</header>
