<!-- <div class="login-section">
  <div class="row justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="text-align: center"><h4>Login</h4></div>
        <div class="card-body">
          <form (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="user_name">Username</label>
              <div class="col-md-6">
                <input [formControlName]="'username'" class="form-control" id="user_name" name="user_name"
                       required
                       type="text">
              </div>
              <span *ngIf="loginForm?.get('username')?.touched && !loginForm?.get('username')?.valid">
                Username cannot be empty
              </span>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="password">Password</label>
              <div class="col-md-6">
                <input [formControlName]="'password'" class="form-control" id="password" name="password"
                       required
                       type="password">
                <span *ngIf="loginForm?.get('password')?.touched && !loginForm?.get('password')?.valid">
                  Password cannot be empty
                </span>
              </div>
            </div>

            <div class="row">
              <span class="col-md-8 offset-md-4">
                <button class="login" type="submit">Login</button>
                <span>
                  New to MicroNews? <a routerLink="/sign-up">SIGN UP</a>
                </span>
              </span>
            </div>

            <div *ngIf='this.isError' class="login-failed">
              <p class="login-failed-text">Login Failed. Please check your credentials and try again.</p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div> -->
<div>
  <button (click)="loginWithRedirect()" class="float-left login mr-2">Login</button>
  <button (click)="signUpWithRedirect()" class="float-right sign-up mr-2">SignUp</button>
</div>