<div class="container">
  <div class="row">
    <hr/>
    <div class="create-post-container col-md-9">
      <form (ngSubmit)="createPost()" [formGroup]="createPostForm" class="post-form">
        <div class="form-group">
          <div class="create-post-heading">Create Post</div>
          <hr/>
          <input [formControlName]="'postName'" class="form-control" placeholder="Title" style="margin-top: 5px"
                 type="text">
          <span *ngIf="createPostForm?.get('postName')?.invalid" style="color: red">
                post name is invalid
          </span>
          <input [formControlName]="'url'" class="form-control" placeholder="URL" style="margin-top: 5px" type="text">
          <input [formControlName]="'file'" class="form-control" id="file" accept="image/*"
                 type="file" (change)="onChange($event)" style="margin-top: 5px">
          <div *ngIf="!isImageSaved">Image not selected</div>
          <select [formControlName]="'subredditName'" class="form-control" style="margin-top: 10px">
            <option disabled selected value="">Select Thread</option>
            <option *ngFor="let subreddit of subreddits">{{subreddit.name}}</option>
          </select>
          <span *ngIf="createPostForm?.get('subredditName')?.invalid" style="color: red">
                thread name is not selected!
          </span>
          <editor [formControlName]="'description'"></editor>
          <span *ngIf="createPostForm?.get('description')?.invalid" style="color: red">
                description is necessary
          </span>
          <span>
            <div class="float-right" style="margin-top: 5px">
              <button (click)="discardPost()" class="btnDiscard">Discard</button>
              <button (click)="createPost()" class="btnCreatePost"
                      [disabled]="createPostForm.controls['postName'].invalid || createPostForm.controls['subredditName'].invalid
                                  || createPostForm.controls['description'].invalid">
                Post</button>
            </div>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
