<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Register</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="signup()" [formGroup]="signupForm">

            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-left" for="email_address">E-Mail Address</label>
              <div class="col-md-6">
                <input [formControlName]="'email'" autofocus class="form-control" id="email_address"
                       name="email-address" required type="text">
                <span *ngIf="signupForm?.get('email')?.touched && !signupForm?.get('email')?.valid"
                      class="help-block">Please enter a valid email</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right">User Name</label>
              <div class="col-md-6">
                <input [formControlName]="'username'" class="form-control" type="text">
                <span *ngIf="signupForm?.get('username')?.touched && !signupForm?.get('username')?.valid"
                      class="help-block">Please enter a valid username</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="password">Password</label>
              <div class="col-md-6">
                <input [formControlName]="'password'" class="form-control" id="password" name="password"
                       type="password">
                <span *ngIf="signupForm?.get('password')?.touched && !signupForm?.get('password')?.valid"
                      class="help-block">Please enter a valid password</span></div>
            </div>

            <div class="row">
              <span class="col-md-6 offset-md-4">
                <button class="sign-up" type="submit">
                  Sign Up
                </button>
                <span style="padding-left: 15px">
                  Existing user? <a routerLink="/login">Log In</a>
                </span>
              </span>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
