<div class="container">
  <div *ngIf="auth.user$ | async as user">
    Welcome <b>{{ user.name }}</b>.<br/> You have posted <b>{{posts.length}}</b> time(s) and commented
    <b>{{commentsCount}}</b> time(s).
    You can check your post and comment history below.
  </div>
  <div class="form-group">
    <label for="check">subscribe for comments
      <input type="checkbox" id="check" (change)="onChange($event)" [(ngModel)]="subscribed" />
    </label>
  </div>
  <hr/>
  <div>
    Your Posts:
  </div>
  <app-post-tile [posts]="posts"></app-post-tile>
  <hr/>
  <div>
    Your Comments:
  </div>
  <div *ngFor="let comment of comments">
    <div class="comment">
      <div class="username">
        <a routerLink="/user/comment.username">{{comment.userName}}</a>
      </div>
      <div>
        <p>{{comment.timeStamp}}</p>
      </div>
      <div>
        <b>{{comment.text}}</b>
      </div>
      <hr/>
    </div>
  </div>
</div>
